# PostgreSQL
DATABASE_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
AUTH_DATASOURCE_URL=jdbc:postgresql://dcholder-postgres:5432/auth_db

# Redis
REDIS_HOST=dcholder-redis
REDIS_PORT=6379
REDIS_PASSWORD=redis

# JWT
# Insert your PEM key as a single line
JWT_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkq...\n-----END PRIVATE KEY-----
KEY_ID=auth-service-key-1
ISSUER=auth-service
ACCESS_TOKEN_EXPIRATION=15m
REFRESH_TOKEN_EXPIRATION=7d

# Account deletion warnings (Duration format: e.g. 7d, 30d)
FIRST_DELETION_WARNING=7d
SECOND_DELETION_WARNING=3d
ACCOUNT_DELETION_TIME=30d
